// Plugins 

@import url('/bower_components/bootstrap/plugins/css/bootstrap.css');
@import url('/bower_components/bootstrap/plugins/css/owl.carousel.css');
@import url('/bower_components/bootstrap/plugins/css/owl.theme.css');
@import url('/bower_components/bootstrap/plugins/css/owl.transitions.css');
@import url('/bower_components/bootstrap/plugins/css/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css');

//  Modules

@import 'modules/welcome';
@import 'modules/header';
@import 'modules/content';
@import 'modules/carousel';
