.content{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	.img-wrapper{
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid #808080;
		width: 15%;
		margin-left: auto;
		margin-right: auto;
		.img-head{
			width: 100%;
			opacity: .2;
			display: inline-block; 
			margin: 0px;
			-webkit-transition-duration: 0.8s;
			-moz-transition-duration: 0.8s;
			-o-transition-duration: 0.8s;
			transition-duration: 0.8s;
			-webkit-transition-property: -webkit-transform;
			-moz-transition-property: -moz-transform;
			-o-transition-property: -o-transform;
			transition-property: transform;
			&:hover{
				opacity: 1;
				-webkit-transform:rotate(180deg);
				-moz-transform:rotate(180deg);
				-o-transform:rotate(180deg);
			}
		}
		.img-carousel{
			width: 5%;
		}
		.infotext{
			display: none;
			padding-top: 50px;
		}
		a:hover + .infotext{
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-family: 'Courier New';
			font-weight: 100;
			color: #808080;
		}
	}
	.center-headline{
		text-align: center;
		font-family: 'Courier New';
	}

}