body.welcome{
	width: 100%;
	height: 100%;
	background-color: #e7e7e7;
	margin: 0;
	.img-wrapper{
		width: 25%;
		margin: 10% auto;
		.logo{
			max-width: 100%;
		}
		.infotext{
			display: none;
			padding-top: 50px;
		}
		a:hover + .infotext{
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-family: 'Courier New';
			font-weight: 100;
			color: #808080;
		}
	}
}
